html {
    color : white;
}

body {
    background-color: white;
}

.navbar {
    background-color: gray;
    margin : 0px;
    border: 0px;
    padding: 0px;
}

.navactive {
    font-size: large;
    color : white;
}

.navlink {
    font-size: large;
    color:lightgrey;
}
.name1{
    text-align: right;
    color: violet;
}
.name2{
    font-size: small;
    text-align: left;
    color: red;
}
.Info{
    font-size: large;
    text-align: center;
    color: teal;
}